<div class="col-xs-12" ng-controller="SkiMapController">
<a  href="#!/skimaps/add" class="btn btn-primary" >Add map</a>
<table class="table table-striped">
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Country</th>
		<th>Edit</th>
		<th>Delete</th>
		<th>Show</th>

		

	</tr>
  <tr class="skiarearow" ng-repeat="map in maps">
    <td>{{ map.id }}</td>
    <td>{{ map.name }}</td>
    <td>{{ map.country | countryfilter}}</td>
     <td><button class="btn btn-success" ng-click="editMap($index)">Edit</button></td>
      <td><a ng-click="deleteMap($index)" class="btn btn-danger">Delete</a></td>
      <td><a ng-click="showMap($index)" class="btn btn-info">show</a></td>
  </tr>
</table>



</div>